@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary-color: rgb(17, 153, 158);
  --secondary-color: rgb(228, 249, 245);
  --btn-bg: rgba(255, 77, 77, 0.4);
  --text-color: rgba(10, 10, 10, 1);
  --option-1: rgb(48, 227, 202);
  --option-1-faded: rgba(48, 227, 202, 0.2);
  --option-2: rgb(64, 81, 78);
  --option-2-faded: rgba(64, 81, 78, 0.6);
  --background-img: linear-gradient(
    to top left,
    var(--primary-color),
    var(--option-2)
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* The main cover page on navigating to the screen */
.introduction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/campaign-creators-pypeCEaJeZY-unsplash.jpg') center
    center;
  z-index: 1;
  transition: all 1s ease-out;
  opacity: 1;
  /* font-family: 'Patrick Hand', cursive; */
}

.introduction.hide {
  opacity: 0;
}

.introduction::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.introduction button {
  z-index: 1;
  display: block;
  width: 40%;
  padding: 20px;
  font-size: 2rem;
}

.introduction h1 {
  z-index: 1;
  font-size: 4rem;
}

.introduction .intro-details {
  width: 40%;
  text-align: justify;
  line-height: 1.7;
  font-size: 2rem;
  padding: 3rem 0 2rem;
  color: white;
  z-index: 1;
}

.introduction .intro-footer {
  position: absolute;
  bottom: 5px;
  left: 20px;
}

#main-content {
  display: none;
}

/* Header of the screen */
.header-section {
  display: Flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 5rem;
  background-image: var(--background-img);
  color: var(--secondary-color);
  font-weight: bold;
  transition: all 1s ease-in;
  transform: translateY(0);
  font-size: 2rem;
}

/* The main container holds the configuration and the table container*/
.main-container {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main-container .quick-steps {
  background-color: grey;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
}
.main-container .quick-steps h3 {
  font-size: 1.5rem;
}

.main-container .quick-steps li {
  font-size: 1.5rem;
  list-style: decimal;
  margin-left: 1rem;
}

.config {
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.config .row-count-input {
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
}

.config input {
  margin-top: 0.5rem;
  width: 80%;
}

.config .buttons {
  margin-top: 1.5rem;
}

/* holds the entire table */
.data-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* border-radius: 50%; */
  /* border: 1px solid; */
}

.row {
  display: flex;
  max-width: 600px;
  width: 75%;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  transform: translateX(0%);
  opacity: 1;
  position: relative;
  align-items: flex-start;
}
.row.hide {
  transform: translateX(-100%);
  opacity: 0;
}
.row:nth-child(odd) {
  background-color: var(--option-2-faded);
}

.row:nth-child(even) {
  background-color: var(--option-1-faded);
}
.row:first-child {
  background-color: var(--option-2);
  color: rgba(223, 249, 251, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.row:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.column {
  width: 40%;
  padding: 1rem;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid #3c3c3b; */
  height: initial;
}

.column.actions {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.actions button:first-child {
  margin-right: 2rem;
  /* margin-left:rem; */
}

.actions button {
  cursor: pointer;
  display: relative;
  border: 0;
  margin: 0;
  background-color: transparent;
  outline: 0;
}

.btn {
  padding: 1rem 3rem;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-image: var(--background-img);
  color: white;
  font-size: 1.6rem;
  border: 0;
  border: 2px solid var(--btn-bg);
  transform: translateX(0);
  transition: transform 0.5s ease-in;
  outline: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.btn:hover,
.btn:focus {
  border: 2px solid var(--option-2-faded);
  transform: translateY(-5px);
}

.header {
  font-size: 1.6rem;
  font-weight: bold;
}

.help-tip {
  position: absolute;
  top: 18px;
  right: 18px;
  text-align: center;
  background-color: #bcdbea;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 1.4rem;
  line-height: 26px;
  cursor: default;
}

.help-tip:before {
  content: '?';
  font-weight: bold;
  color: #fff;
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1e2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #fff;
  font-size: 1, 5rem;
  line-height: 1.4;
  z-index: 2;
}

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1e2021;
  right: 10px;
  top: -12px;
}

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

input,
.inputSelection {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  width: 100%;
  margin: 0;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  outline: none;
  position: relative;
}

.inputSelection {
  cursor: pointer;
}

input:focus,
.inputSelection:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
}

.inputSelection i {
  position: absolute;
  right: 0;
  transform: translateX(-100%) translateY(15%);
  pointer-events: none;
}

.actions button .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 8px 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.actions button:hover .tooltiptext,
.actions button:focus .tooltiptext {
  visibility: visible;
}

.additional-details {
  font-size: 1.5rem;
  padding: 1rem 5rem;
  line-height: 1.6;
}

.additional-details h3,
.additional-details p {
  margin-top: 2rem;
}

.select-input-background {
  display: none;
}

.select-input-background.show {
  /* display: inline; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: top;
}

.select-input-background.show .select-input-container {
  /* transform: translateY(75%); */
  /* width: 600px;
  height: 300px; */
  /* top: 25%; */
  justify-content: space-between;
  /* align-items: flex-start; */
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  position: relative;
  width: 80%;
  flex-wrap: wrap;
}

.select-input-background.show .select-input-container .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  background-color: rgba(255, 56, 56, 1);
  transform: translateX(50%) translateY(-50%) scale(1);
  outline: none;
  transition: all 1s ease-in;
}

.select-input-background.show .select-input-container .close:hover {
  transform: translateX(50%) translateY(-50%) scale(1.1);
}

/* Footer Start */

footer {
  width: 100%;
  background-image: var(--background-img);
  color: var(--secondary-color);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid;
  padding: 1rem 0 0.5rem;
  margin-top: 2rem;
  font-size: 2rem;
}

footer i {
  font-size: 3rem;
  padding: 1rem 3rem;
  color: var(--secondary-color);
}

footer .display-pic {
  height: 10rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #393e46;
  border-width: 3px;
  margin-right: 3rem;
}

footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .contact-details {
  margin-top: 1rem;
}

/* Footer End */
