@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #3d3d3d;
  color: #ffcccc;
}

.header-section {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #32ff7e;
  color: #3d3d3d;
  font-weight: bold;
}

.main-container {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-container {
  padding: 1rem;
}

.btn {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to top left, #ff9f1a, #ff3838);
  border: 0;
  border: 2px solid rgba(255, 77, 77, 0.4);
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

.btn:hover {
  border: 2px solid rgba(255, 56, 56, 1);
  transform: translateY(-3px);
}

.config {
  padding: 2rem 3rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

input,
.optionsForData {
  border-radius: 5px;
  padding: 5px 10px;
}

.actions i {
  cursor: pointer;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #fffa65;
  color: black;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid;
  padding: 1rem 0 0.5rem;
}
/* 
table {
  max-width: 100%;
}

tr:nth-child(odd) {
  background-color: rgba(23, 192, 235, 0.6);
}

tr:nth-child(even) {
  background-color: rgba(23, 192, 235, 0.3);
}

th {
  background-color: #555;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 0.5em 1em;
}

td::before {
  display: none;
}

@media screen and (max-width: 680px) {
  table {
    border: 0;
    display: block;
    box-shadow: none;
  }

  thead {
    position: absolute;
    opacity: 0;
  }

  tbody {
    display: block;
    width: 100%;
    min-width: 19em;
    max-width: 25em;
  }

  tr {
    border-top: 2px solid #3c3c3b;
    border-bottom: 1px solid #3c3c3b;
    display: grid;
    grid-template-columns: max-content auto;
    margin-bottom: 1em;
  }

  td {
    display: contents;
  }

  td::before {
    display: inline-block;
    font-weight: bold;
    padding: 0.5em;
    border-bottom: 1px solid;
  }

  td span {
    padding: 0.5em;
    border-bottom: 1px solid;
  }

  td:last-child {
    border-bottom: 0;
  }
} */

.data-input-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  border: 1px solid;
  align-items: center;
}

.header {
  font-size: 1.2rem;
  font-weight: bold;
}

.row {
  display: flex;

  width: 100%;
  align-items: stretch;
  justify-content: center;
}

.column {
  width: 33.3%;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid; */
  /* border-top: 2px solid #3c3c3b; */
  border: 1px solid #3c3c3b;
  height: initial;
}
#tableColNames {
  background-color: rgba(103, 230, 220, 1);
  color: rgb(14, 51, 58);
}

.row:nth-child(odd) {
  background-color: rgba(23, 192, 235, 0.6);
}

.row:nth-child(even) {
  background-color: rgba(23, 192, 235, 0.3);
}

.help-tip {
  position: absolute;
  top: 18px;
  right: 18px;
  text-align: center;
  background-color: #bcdbea;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before {
  content: '?';
  font-weight: bold;
  color: #fff;
}

.help-tip:hover p {
  display: block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
  /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1e2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
}

.help-tip p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1e2021;
  right: 10px;
  top: -12px;
}

.help-tip p:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}
